__pycache__/
*.pyc

# Folders to ignore
/env/
/data/raw/
/data/create_manual_dataset.py
/notebooks/
/bridge_analysis_output/

# Files to ignore
/features/all_honor_power.py
/models/predictor.py
/utils/evaluation.py
# /main.py
/config.py